@tailwind base;
@tailwind components;
@tailwind utilities;

.mono-bold{
  font-family: 'IBM Plex Mono', monospace;
}

.handwrite{
  font-family: 'Permanent Marker', cursive;
}

.inter-bold{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.inter-light{
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}

.inter{
  font-family: 'Inter', sans-serif;
}

body{
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar{
  display: none;
}

.init-background{
  background: rgb(27,39,53);
  background: radial-gradient(circle, rgba(27,39,53,1) 0%, rgba(9,10,15,1) 100%);
}

.text-bg{
  background: rgb(0,129,123);
  background: linear-gradient(90deg, rgba(0,129,123,1) 0%, rgba(6,205,159,1) 43%, rgba(0,191,34,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-text-bg{
  background: rgb(63,76,93);
  background: linear-gradient(0deg, rgba(63,76,93,1) 0%, rgba(207,211,231,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-title-bg{
  background: 06B5D4;
  background: linear-gradient(90deg, #06B5D4 0%, #3B82F6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techstack-title-bg{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platforms-title-bg{
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ANIMATIONS */

.bounce-enter-active {
  animation: bounce-in .8s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.slide-fade-enter-active {
  transition: all 0.5s ease-out;
  transition-delay: .5s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-10%);
  opacity: 0;
}